@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hilmi Hotel Rezervasyon ve Oda projesi</h1>
    <p>Hilmi Hotel A.Ş. Projesi detayları için <a href="https://github.com/Celalius/Ceng382_23_24_s_202111013/"> Bu linke tıklayabilirsin</a>.</p>

    <p style="font-size: large;">Bu proje daha tamamlanmamıştır!!! Referans alırken dikkat ediniz!!</p>
</div>
