@page
@model MyApp.Namespace.IndexReservationModel
@{
    ViewData["Title"] = "Reservation Table";
}

<h1>Rezervasyon Tablosu</h1>
<br>
<a class="nav-link text-dark" asp-area="" asp-page="/CreateReservation">Rezervasyon Ekle</a>

<form method="get">
    <div class="form-group">
        <label for="roomFilter">Oda İsmine Göre sırala:</label>
        <input type="text" id="roomFilter" name="RoomFilter" class="form-control" />
    </div>
    <div class="form-group">
        <label for="dateFilter">Tarihe Göre Sırala</label>
        <input type="week" id="dateFilter" name="DateFilter" class="form-control" />
    </div>
    <div class="form-group">
        <label for="capacityFilter">Kapasiteye Göre Sırala</label>
        <input type="number" id="capacityFilter" name="CapacityFilter" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Filtreyi Uygula</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Oda İsmi</th>
            <th>Başlangıç</th>
            <th>Çıkış</th>
            <th>Kapasite</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.Reservations)
        {
            <tr>
                <td>@reservation.Room.RoomName</td>
                <td>@reservation.StartTime</td>
                <td>@reservation.EndTime</td>
                <td>@reservation.Room.Capacity</td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary">Düzenle</a>
                    <a href="#" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

